body{
    background-color: hsla(0, 0%, 10%);
}

.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
    color: white;
}

h2{
    font-size: 2rem;
    color:rgb(141, 210, 244);
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-btn{
    background-color: hsl(125, 59%, 50%);
}

.add-btn:hover{
    background-color: hsl(125, 59%, 40%);
}
.delete-btn{
    background-color: hsl(10, 80%, 50%);
}

.delete-btn:hover{
    background-color: hsl(10, 80%, 40%);
}

input[type='text']{
    font-size: 1.6rem;
    padding: 9px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
}

ol{
    width: 50%;
    padding: 0;
    margin-left: 25%;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0 0% 97% );
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex:1;
}
.delete-btn, .move-btn{
    padding: 8ox 12px;
    font-size: 2rem;
    margin-left: 10px;

}
.move-btn{
    background-color: hsl(197.97,100%,46.47%)
}

.move-btn:hover{
    background-color: hsl(197.97,100%,36.47%);
}